
{% extends 'base.html' %}
{% comment %} {% load bootstrap4 %} {% endcomment %}
{% block content %}   
{% endblock content %}

{% block body %}        
 
<section class="user-profile">

    <h1 class="heading">your profile</h1>
 
    <div class="info">
 
       <div class="user">
         <img src="{{ author.image.url }}" class="image" alt="{{ author.user.first_name }}">
          <h3>{{author}}</h3>
          <p>{{author.work}}</p>
          <a href="#" class="inline-btn">update profile</a>
       </div>
    
       <div class="box-container">
    
          <div class="box">
             <div class="flex">
                <i class="fa fa-bookmark"></i>
                <div>
                   <span>{{author.total_palylist}}</span>
                   <p>saved playlist</p>
                </div>
             </div>
             <a href="#" class="inline-btn">view playlists</a>
          </div>
    
          <div class="box">
             <div class="flex">
                <i class="fa fa-heart"></i>
                <div>
                   <span>{{author.total_likes}}</span>
                   <p>videos liked</p>
                </div>
             </div>
             <a href="#" class="inline-btn">view liked</a>
          </div>
    
          <div class="box">
             <div class="flex">
                <i class="fa fa-comment"></i>
                <div>
                   <span>{{author.total_comments}}</span>
                   <p>videos comments</p>
                </div>
             </div>
             <a href="#" class="inline-btn">view comments</a>
          </div>
    
       </div>
    </div>
 
 </section>
{% endblock body %}