
{% extends 'base.html' %}
{% load static %}
{% block body %}        

    <section class="teachers">

        <h1 class="heading">expert teachers</h1>
     
        <form action="" method="post" class="search-tutor">
           <input type="text" name="search_box" placeholder="search tutors..." required maxlength="100">
           <button type="submit" class="fas fa-search" name="search_tutor"></button>
        </form>
     
        <div class="box-container">
     
           <div class="box offer">
              <h3>become a tutor</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque ipsam 
               fuga ex et aliquam.</p>
              <a href="{% url 'accounts:signup' %}" class="inline-btn">get started</a>
           </div>
     
           {% for author in authors %}
           <div class="box">
            <div class="tutor">
                 <img src="{{author.image.url}}" alt="hello">
                 <div>
                    <h3>{{author}}</h3>
                    <span>developer</span>
                 </div>
              </div>
              <p>total playlists : <span>{{author.total_palylist}}</span></p>
              <p>total videos : <span>{{author.total_videos}}</span></p>
              <p>total likes : <span>{{author.total_likes}}</span></p>
              <a href="{% url 'accounts:profile' author.slug %}"  class="inline-btn">view profile</a>
            </div>
            {% endfor %}

     
     
        </div>
     
     </section>
{% endblock body %}