{% extends 'base.html' %}
{% load static %}
{% block body %}  

<section class="watch-video">

    <div class="video-container">
       <div class="video">
        <video src="{{video.video_file.url}}" controls poster="{{video.playlist.image.url}}" id="video"></video>
       </div>
       <h3 class="title">{{video}}</h3>
       <div class="info">
          <p class="date"><i class="fas fa-calendar"></i><span>{{video.uploaded_at| date:'d-m-o'}}</span></p>
          <p class="date"><i class="fas fa-heart"></i><span>{{video.likes}} likes</span></p>
       </div>
       <div class="tutor">
        <img src="{{video.playlist.author.image.url}}" alt="" >
        {% comment %} <img src="images/pic-2.jpg" alt=""> {% endcomment %}
          <div>
             <h3>{{video.playlist.author}}</h3>
             <span>{{video.playlist.author.work}}</span>
          </div>
       </div>
       <form action="" method="post" class="flex">
          <a href="{% url "myApp:playlists" video.playlist.id  %}" class="inline-btn">view playlist</a>
          <a href="{% url "myApp:add_like" video.id  %}" class="inline-btn" style="background-color: rgb(247, 244, 250); color: black;"><i class="far fa-heart"></i><span>like</span></a>
       </form>
       <p class="description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque labore ratione, hic exercitationem mollitia obcaecati culpa dolor placeat provident porro.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid iure autem non fugit sint. A, sequi rerum architecto dolor fugiat illo, iure velit nihil laboriosam cupiditate voluptatum facere cumque nemo!
       </p>
    </div>
 
 </section>
 
 <section class="comments">
 
    <h1 class="heading">{{comment.count}} comments</h1>
 
    <form action="{% url 'myApp:add_comment' video.id %}" method="post" class="add-comment">
      {% csrf_token %}
      <h3>Ajouter un commentaire</h3>
      <textarea name="comment_box" placeholder="Entrez votre commentaire" required maxlength="1000" cols="30" rows="10"></textarea>
      <input type="submit" value="Ajouter un commentaire" class="inline-btn" name="add_comment">
   </form>
   
 
    <h1 class="heading">user comments</h1>
 
    {% for com in comment %}
    <div class="box-container">
       <div class="box">
          <div class="user">
             <img src="{{com.video.playlist.author.image.url}}" alt="">
             <div>
                <h3>{{com.user}}</h3>
                <span>{{com.created_at|date:'d-m-Y'}}</span>
             </div>
          </div>
          <div class="comment-box">{{com.description}}</div>
          <form action="" class="flex-btn">
             <input type="submit" value="edit comment" name="edit_comment" class="inline-option-btn">
             <input type="submit" value="delete comment" name="delete_comment" class="inline-delete-btn">
          </form>
       </div>
 {% endfor %}
 
       
 
    </div>
 
 </section>

{% endblock body %}
